<div class="dialog-header">
  <h1 mat-dialog-title class="mat-dialog-title" style="color:white;">Confirmar Eliminación</h1>
</div>
<div mat-dialog-content class="dialog-content">
  <p style="text-align: justify;">Por favor confirme la eliminacion de la pregunta: </p>
  <p style="padding: 1.5em 0em; color: #d32f2f; line-height: normal;">{{ data.mainQuestion }}</p>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="warn" (click)="onConfirm()">Eliminar</button>
</div>
